.Todo{
    margin: 2px;
    background: rgba(255, 255, 255, 0.205);
}

.Todo-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Todo-text{
    cursor: pointer;
    display: inline-block;
    word-wrap: normal;
    width: 60%;
    padding-left: 60px;
    font-size: 20px;
    transition: all 0.2s ease;
}

.Todo-text.Todo-complete{
    color: #fffdf9a9;
    text-decoration: line-through;
}

.Todo-buttons{
    display: inline;
    padding-right: 60px;
    color: #fffdf9;
}

.Todo-buttons button{
    color: #fffdf9;
    background: 0;
    border: 0;
    font-size: 15px;
}

@keyframes strike{
    to {
        width: calc(100%+1rem);
    }
}